@media screen and (max-width:992px){
.container{
		text-align: center;
		width: 90%;
	}
	.wrapper{
		width: 90%;
	}

	.right__block_bg{
		width: 320px;
		margin-top: 0;
		transform: rotate(14deg);
		margin-right: -50px;
	}
	.left_block{
		width: 50%;
	}
	.right_block{
		width: 50%;
		margin-top: 0px;
		overflow-x: hidden;
	}
	
	.btn__active, .btn__more {
		width: 100%;
		margin-bottom: 15px;
		display: block;
		text-align: center;
	}
	.img{
		position: relative;
		margin: 0 auto;
    	width: 200px;
    	height: 400px;
	}
	.block__calc{
		background: none;
	}
	form{
		margin-top: 50px;
	}

	.offer{
		width: 90%;
		text-align: center;
	}
	.offer__img{
		width: 330px;
	}
	.block__calc__form{
		margin-top: 40px;
	}
	footer{
		display: none;
	}

}
@media screen and (max-width:576px){
	
	.container{
		text-align: center;
		width: 90%;
	}
	.wrapper{
		width: 90%;
		flex-direction: column;
	}
	.left_block{
		width: 100%;
	}
	.right_block{
		width: 100%;
		margin-top: 50px;
		overflow-x: hidden;
	}
	.offer__img{
		text-align: center;
		width: 330px;	
	}
	.right__block_bg{
		width: 330px;
		margin-top: 0;
		transform: rotate(-0deg);
		margin: 0 auto;
	}

}